@page "/anularRegistro"

<br>
<h1>Anular registro de vacunado</h1>
<br>

<div>
    <input type="text" @bind-value="@cedula" placeholder="Introduzca la cédula"><br><br>
    <button class="btn btn-primary" @onclick = "eliminarRegistro">Eliminar registro</button>
</div>

<br>

@if (@info != null)
{
    <div> @info </div>
}

@code
{
    @using System.Data;
    @using System.Data.SqlClient;

    string cedula, info = null, fracaso;

    SqlConnection conexion = null;

    private void eliminarRegistro()
    {
        #region "PATRON SIGLETON"

        if (conexion == null)
        {
            conexion = new SqlConnection("Data Source = DESKTOP-PDNLRPM; Initial Catalog = JORNADA_DE_VACUNACION; Integrated Security = true");
        }

        #endregion

        SqlCommand cmd = new SqlCommand("SP_ELIMINAR_VACUNADO", conexion);
        cmd.CommandType = CommandType.StoredProcedure;
        conexion.Open();

        cmd.Parameters.AddWithValue("@CEDULA", cedula);

        cmd.ExecuteNonQuery();
        conexion.Close();

        info = "Registro eliminado";
    }
}