@page "/anularRegistro"

<br>
<h1>Anular registro de vacunado</h1>
<br>

<div>
    <input type="text" placeholder = "Introduzca la cédula"><br><br>
    <button class = "btn btn-primary">Eliminar registro</button>
</div>