@page "/registro"
@using Tarea_7.Data

@inject IHttpClientFactory _clientFactory 

<h3>Registro</h3>

@if (_persona != null)
{
    <EditForm Model="@_persona">
    <div class="row mb-3 ced">
        <div class="col-auto">
            <InputText @bind-Value="_persona.Cedula" placeholder="Cedula" class="form-control"/>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" @onclick="BuscarCedula">Buscar</button>
        </div>
    </div>
    <div class="@(isShowed ? "mostrar" : "ocultar") form row">

        <div class="col">
            <p>
                <label>
                    Nombre:
                    <InputText @bind-Value="_persona.Nombres" class="form-control" />
                </label>
            </p>
            <p>
                <label>
                    Apellido:
                    <InputText @bind-Value="_persona.Apellidos" class="form-control" />
                </label>
            </p>

            <p>
                <label>
                    Telefono:
                    <InputText @bind-Value="_persona.Telefono" class="form-control" />
                </label>
            </p>
        </div>

        <div class="col">
            <p>
                <label>
                    Fecha de Nacimiento:
                    <InputDate @bind-Value="_persona.Nacimiento" class="form-control" />
                </label>
            </p>
            <p>
                <label>
                    Provincia:
                    <InputSelect @bind-Value="_persona.Provincia" class="form-control">
                        <option value="">Seleccione la provincia</option>
                        <option value="China">Santo Domingo</option>
                        <option value="Europea">Santiago</option>
                    </InputSelect>
                </label>
            </p>
            <p>
                <label>
                    Vacuna Recibida:
                    <InputSelect @bind-Value="_persona.VacunaRecibida" class="form-control">
                        <option value="">Selecciona la vacuna</option>
                        <option value="China">China</option>
                        <option value="Europea">Europea</option>
                    </InputSelect>
                </label>
            </p>
        </div>
    </div>

    </EditForm>
}
@code {
    Persona _persona = new Persona() { Nacimiento = DateTime.UtcNow };
    bool isShowed = false;

    async Task BuscarCedula()
    {
        if (string.IsNullOrEmpty(_persona.Cedula)) return;
        if (!Validacion.Cedula(_persona.Cedula)) return;

        HttpRequestMessage req = new HttpRequestMessage(HttpMethod.Get, $"https://api.adamix.net/apec/cedula/{_persona.Cedula}");

        HttpClient client = _clientFactory.CreateClient();

        HttpResponseMessage res = await client.SendAsync(req);

        if (res.IsSuccessStatusCode)
        {
            _persona = await res.Content.ReadFromJsonAsync<Persona>();
        }

        isShowed = !isShowed;
    }
}