.ocultar {
    display: none;
}

.ced {
    z-index: 11;
}

.mostrar {
    z-index: 1;
    position: relative;
    animation-name: mostrar;
    animation-duration: 1s;
}

.form {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    margin: 3em auto;
    padding: 1em 2em;
}

.field {
    color: red;
    font-size: 40px;
}

@keyframes mostrar {
    0% {
        opacity: 0;
        top: -50px;
    }
    50% {
        opacity: .2;
    }
    70% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}