@import '';

/* _content/Tarea-7/Pages/RegistroVacuna.razor.rz.scp.css */
.ocultar[b-ot8mcsg2ba] {
    display: none;
}

.ced[b-ot8mcsg2ba] {
    z-index: 11;
}

.mostrar[b-ot8mcsg2ba] {
    z-index: 1;
    position: relative;
    animation-name: mostrar-b-ot8mcsg2ba;
    animation-duration: 1s;
}

.form[b-ot8mcsg2ba] {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    margin: 3em auto;
    padding: 1em 2em;
}

.field[b-ot8mcsg2ba] {
    color: red;
    font-size: 40px;
}

@keyframes mostrar-b-ot8mcsg2ba {
    0% {
        opacity: 0;
        top: -50px;
    }
    50% {
        opacity: .2;
    }
    70% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
/* _content/Tarea-7/Shared/MainLayout.razor.rz.scp.css */
.page[b-pd9rrj9wdt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-pd9rrj9wdt] {
    flex: 1;
}

.sidebar[b-pd9rrj9wdt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-pd9rrj9wdt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pd9rrj9wdt]  a, .top-row .btn-link[b-pd9rrj9wdt] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-pd9rrj9wdt] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pd9rrj9wdt] {
        display: none;
    }

    .top-row.auth[b-pd9rrj9wdt] {
        justify-content: space-between;
    }

    .top-row a[b-pd9rrj9wdt], .top-row .btn-link[b-pd9rrj9wdt] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pd9rrj9wdt] {
        flex-direction: row;
    }

    .sidebar[b-pd9rrj9wdt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pd9rrj9wdt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-pd9rrj9wdt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Tarea-7/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-17mck68mfs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-17mck68mfs] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-17mck68mfs] {
    font-size: 1.1rem;
}

.oi[b-17mck68mfs] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-17mck68mfs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-17mck68mfs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-17mck68mfs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-17mck68mfs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-17mck68mfs]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-17mck68mfs]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-17mck68mfs] {
        display: none;
    }

    .collapse[b-17mck68mfs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
